@import "tailwindcss";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));
@plugin "./hero.ts";

html, body {
  background-color: #f9fafb; /* gray-50 pour light mode */
}

.dark html,
.dark body {
  background-color: #000000 !important; /* noir pour dark mode */
}




