@import "tailwindcss";

@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));
@plugin "./hero.ts";

html, body {
  background-color: #000000 !important;
 
}




